<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.appodeal.plugin" version="3.0.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Appodeal Plugin</name>
  <description>Appodeal Plugin</description>
  <author>Appodeal</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="AppodealPlugin" src="www/appodeal.js">
      <clobbers target="Appodeal"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppodealPlugin">
                <param name="android-package" value="com.appodeal.plugin.AppodealPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--optional -->
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!--optional -->
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!--optional-->
        </config-file>
        <framework src="com.google.android.gms:play-services-ads:9+" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
			<receiver android:name="com.appodeal.ads.AppodealPackageAddedReceiver" android:exported="true" android:enabled="true">
			    <intent-filter>
			        <action android:name="android.intent.action.PACKAGE_ADDED" />
			        <data android:scheme="package" />
			    </intent-filter>
			</receiver>
			<activity android:name="com.appodeal.ads.TestActivity"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
			<activity android:name="com.appodeal.ads.InterstitialActivity"
			    android:configChanges="orientation|screenSize"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
			<activity android:name="com.appodeal.ads.VideoActivity"
			    android:configChanges="orientation|screenSize"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
			<activity android:name="com.appodeal.ads.LoaderActivity"
			    android:configChanges="orientation|screenSize"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
			<activity android:name="com.appodeal.ads.VideoPlayerActivity"
			    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

			<activity android:name="com.chartboost.sdk.CBImpressionActivity" android:excludeFromRecents="true"
			    android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
			    android:configChanges="keyboardHidden|orientation|screenSize" />

			<activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
			    android:configChanges="orientation|screenSize"
			    android:theme="@android:style/Theme.Translucent" />
			<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />


			<activity android:name="com.mopub.mobileads.MoPubActivity"
			    android:configChanges="keyboardHidden|orientation|screenSize"
			    android:theme="@android:style/Theme.Translucent" />
			<activity android:name="com.mopub.common.MoPubBrowser"
			    android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.mopub.mobileads.MraidActivity"
			    android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
			    android:configChanges="keyboardHidden|orientation|screenSize" />

			<activity android:name="org.nexage.sourcekit.vast.activity.VASTActivity"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

			<activity android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

			<activity android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

			<activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

			<activity android:name="com.my.target.ads.MyTargetActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			    android:hardwareAccelerated="true" />

			<activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
			<activity android:name="com.facebook.ads.AudienceNetworkActivity" android:configChanges="keyboardHidden|orientation|screenSize" />

			<activity android:name="com.startapp.android.publish.list3d.List3DActivity"
			    android:theme="@android:style/Theme" />
			<activity android:name="com.startapp.android.publish.OverlayActivity"
			    android:theme="@android:style/Theme.Translucent"
			    android:configChanges="orientation|keyboardHidden|screenSize" />
			<activity android:name="com.startapp.android.publish.FullScreenActivity"
			    android:theme="@android:style/Theme"
			    android:configChanges="orientation|keyboardHidden|screenSize" />

			<service android:name="com.yandex.metrica.MetricaService" android:enabled="true"
			    android:exported="true" android:process=":Metrica">
			    <intent-filter>
			        <category android:name="android.intent.category.DEFAULT" />
			        <action android:name="com.yandex.metrica.IMetricaService" />
			        <data android:scheme="metrica" />
			    </intent-filter>
			    <meta-data android:name="metrica:api:level" android:value="52" />
			</service>
			<receiver android:name="com.yandex.metrica.MetricaEventHandler"
			    android:enabled="true" android:exported="true">
			    <intent-filter>
			        <action android:name="com.android.vending.INSTALL_REFERRER" />
			    </intent-filter>
			</receiver>

			<activity android:name="com.yandex.mobile.ads.AdActivity"
			    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

			<activity android:name="com.unity3d.ads.adunit.AdUnitActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" />
			<activity android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="false" />
			<activity android:name="com.unity3d.ads2.adunit.AdUnitActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" />
			<activity android:name="com.unity3d.ads2.adunit.AdUnitSoftwareActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="false" />

			
			<activity android:name="com.jirbo.adcolony.AdColonyOverlay"
			    android:configChanges="keyboardHidden|orientation|screenSize"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
			
			<activity android:name="com.jirbo.adcolony.AdColonyFullscreen"
			    android:configChanges="keyboardHidden|orientation|screenSize"
			    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
			
			<activity android:name="com.jirbo.adcolony.AdColonyBrowser"
			    android:configChanges="keyboardHidden|orientation|screenSize"
			    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

			
			<activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
			    android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
			
			<activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
			    android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

			
			<activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
			    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

			
			<activity android:name="com.tapjoy.TJAdUnitActivity" android:configChanges="orientation|keyboardHidden|screenSize"
			    android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
			
			<activity android:name="com.tapjoy.mraid.view.ActionHandler" android:configChanges="orientation|keyboardHidden|screenSize" />
			
			<activity android:name="com.tapjoy.mraid.view.Browser" android:configChanges="orientation|keyboardHidden|screenSize" />
			
			<activity android:name="com.tapjoy.TJContentActivity" android:configChanges="orientation|keyboardHidden|screenSize"
			    android:theme="@android:style/Theme.Translucent.NoTitleBar" android:hardwareAccelerated="true" />

			
			<activity android:name="com.supersonicads.sdk.controller.ControllerActivity" android:configChanges="orientation|screenSize"
			    android:hardwareAccelerated="true" />
			
			<activity android:name="com.supersonicads.sdk.controller.InterstitialActivity" android:configChanges="orientation|screenSize"
			    android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent" />
			
			<activity android:name="com.supersonicads.sdk.controller.OpenUrlActivity" android:configChanges="orientation|screenSize"
			    android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent" />

			
			<activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity" android:configChanges="keyboardHidden|orientation|screenSize"
			    android:hardwareAccelerated="true" />
			
			<activity android:name="com.adcolony.sdk.AdColonyAdViewActivity" android:configChanges="keyboardHidden|orientation|screenSize"
			    android:hardwareAccelerated="true" />

			<activity android:name="com.inmobi.rendering.InMobiAdActivity" android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
			    android:hardwareAccelerated="true" android:resizeableActivity="false" android:theme="@android:style/Theme.NoTitleBar" />
			<receiver android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver" android:enabled="true" android:exported="true">
			    <intent-filter>
			        <action android:name="com.inmobi.share.id"/>
			    </intent-filter>
			</receiver>

			<meta-data android:name="presage_key" android:value="000000"/>
			<service android:name="io.presage.services.PresageServiceImp"/>
			<activity android:name="io.presage.activities.PresageActivity"
			    android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true">
			    <intent-filter>
			        <action android:name="io.presage.intent.action.LAUNCH_WEBVIEW" />
			        <category android:name="android.intent.category.DEFAULT" />
			    </intent-filter>
			</activity>
			<receiver android:name="io.presage.receivers.BootReceiver">
			    <intent-filter>
			        <action android:name="android.intent.action.BOOT_COMPLETED"/>
			        <action android:name="android.intent.action.DATE_CHANGED"/>
			        <action android:name="io.presage.receivers.BootReceiver.RESTART_SERVICE"/>
			    </intent-filter>
			</receiver>
        </config-file>
        <framework src="com.google.android.gms:play-services-ads:9+" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
        
        </config-file>
        <source-file src="src/android/AppodealPlugin.java" target-dir="src/com/appodeal/plugin" />
        <source-file src="libs/Android/appodeal-2.0.2.jar" target-dir="libs" />
        <source-file src="libs/Android/applovin-7.0.2.jar" target-dir="libs" />
        <source-file src="libs/Android/chartboost-6.6.1.jar" target-dir="libs" />
        <source-file src="libs/Android/facebook-audience-network-4.22.0.jar" target-dir="libs" />
        <source-file src="libs/Android/inmobi-6.1.1.jar" target-dir="libs" />
        <source-file src="libs/Android/picasso-2.5.2.jar" target-dir="libs" />
        <source-file src="libs/Android/mailru-4.5.15.jar" target-dir="libs" />
        <source-file src="libs/Android/presage-lib-1.8.5.jar" target-dir="libs" />
        <source-file src="libs/Android/unity_ads-2.0.5.jar" target-dir="libs" />
        <source-file src="libs/Android/yandex-metrica-2.62.jar" target-dir="libs" />
        <framework src="libs/Android/adcolony" custom="true" />
    </platform>

    <platform name="ios">
      <config-file parent="/widget" target="config.xml">
        <feature name="AppodealPlugin">
          <param name="ios-package" value="AppodealPlugin"/>
        </feature>
      </config-file>
      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
              <key>NSAllowsArbitraryLoadsInWebContent</key>
              <true/>
          </dict>
      </config-file>
      <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
          <string>Advertising</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
          <string>Advertising</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <string>Advertising</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>Advertising</string>
      </config-file>
      <header-file src="src/ios/AppodealPlugin.h"/>
      <source-file src="src/ios/AppodealPlugin.m"/>

        <framework src="AdSupport.framework"/>
        <framework src="AudioToolbox.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="CoreFoundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreImage.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreMotion.framework"/>
        <framework src="EventKit.framework"/>
        <framework src="EventKitUI.framework"/>
        <framework src="JavaScriptCore.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="MobileCoreServices.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="Security.framework"/>
        <framework src="Social.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SafariServices.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="Twitter.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="WebKit.framework"/>
        <framework src="CoreBluetooth.framework"/>
        <framework src="GLKit.framework"/>

        <framework src="libc++.dylib"/>
        <framework src="libsqlite3.dylib"/>
        <framework src="libxml2.2.dylib"/>
        <framework src="libz.dylib"/>

        <!-- Appodeal -->
        <framework custom="true" src="libs/iOS/Appodeal/Appodeal.framework"/>
        <resource-file src="libs/iOS/Appodeal/Appodeal.bundle"/>
        <!-- AdColony -->
        <framework custom="true" src="libs/iOS/Adapters/APDAdColonyAdapter.embeddedframework/AdColony.framework"/>
        <source-file src="libs/iOS/Adapters/APDAdColonyAdapter.embeddedframework/libAPDAdColonyAdapter.a" framework="true"/>
        <!-- Amazon -->
        <framework custom="true" src="libs/iOS/Adapters/APDAmazonAdsAdapter.embeddedframework/AmazonAd.framework"/>
        <source-file src="libs/iOS/Adapters/APDAmazonAdsAdapter.embeddedframework/libAPDAmazonAdsAdapter.a" framework="true"/>
        <!-- Applovin -->
        <framework custom="true" src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/AppLovinSdk.framework"/>
        <source-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/libAPDAppLovinAdapter.a" framework="true"/>
        <!-- Chartboost -->
        <framework custom="true" src="libs/iOS/Adapters/APDChartboostAdapter.embeddedframework/Chartboost.framework"/>
        <source-file src="libs/iOS/Adapters/APDChartboostAdapter.embeddedframework/libAPDChartboostAdapter.a" framework="true"/>
        <!-- Facebook Audience Network -->
        <framework custom="true" src="libs/iOS/Adapters/APDFacebookAudienceAdapter.embeddedframework/FBAudienceNetwork.framework"/>
        <source-file src="libs/iOS/Adapters/APDFacebookAudienceAdapter.embeddedframework/libAPDFacebookAudienceAdapter.a" framework="true"/>
        <!-- AdMob -->
        <framework custom="true" src="libs/iOS/Adapters/APDGoogleAdMobAdapter.embeddedframework/GoogleMobileAds.framework"/>
        <source-file src="libs/iOS/Adapters/APDGoogleAdMobAdapter.embeddedframework/libAPDGoogleAdMobAdapter.a" framework="true"/>
        <!-- Flurry -->
        <framework custom="true" src="libs/iOS/Adapters/APDFlurryAdapter.embeddedframework/Flurry.framework"/>
		<framework custom="true" src="libs/iOS/Adapters/APDFlurryAdapter.embeddedframework/FlurryAds.framework"/>
        <source-file src="libs/iOS/Adapters/APDFlurryAdapter.embeddedframework/libAPDFlurryAdapter.a" framework="true"/>
        <!-- InMobi -->
        <framework custom="true" src="libs/iOS/Adapters/APDInMobiAdapter.embeddedframework/InMobiSDK.framework"/>
        <source-file src="libs/iOS/Adapters/APDInMobiAdapter.embeddedframework/libAPDInMobiAdapter.a" framework="true"/>
        <!-- Ironsource -->
        <framework custom="true" src="libs/iOS/Adapters/APDIronSourceAdapter.embeddedframework/Supersonic.framework"/>
        <source-file src="libs/iOS/Adapters/APDIronSourceAdapter.embeddedframework/libAPDIronSourceAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDIronSourceAdapter.embeddedframework/Resources/button-close-highlighted.png"/>
        <resource-file src="libs/iOS/Adapters/APDIronSourceAdapter.embeddedframework/Resources/button-close-default.png"/>
        <!-- MyTarget -->
        <framework custom="true" src="libs/iOS/Adapters/APDMyTargetAdapter.embeddedframework/MyTargetSDK.framework"/>
        <source-file src="libs/iOS/Adapters/APDMyTargetAdapter.embeddedframework/libAPDMyTargetAdapter.a" framework="true"/>
        <!-- StartApp -->
        <framework custom="true" src="libs/iOS/Adapters/APDStartAppAdapter.embeddedframework/StartApp.framework"/>
        <source-file src="libs/iOS/Adapters/APDStartAppAdapter.embeddedframework/libAPDStartAppAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDStartAppAdapter.embeddedframework/Resources/StartApp.bundle"/>
        <!-- TapJoy -->
        <framework custom="true" src="libs/iOS/Adapters/APDTapjoyAdapter.embeddedframework/Tapjoy.framework"/>
        <source-file src="libs/iOS/Adapters/APDTapjoyAdapter.embeddedframework/libAPDTapjoyAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDTapjoyAdapter.embeddedframework/Tapjoy.framework/Resources/TapjoyResources.bundle"/>
        <!-- MoPub -->
        <source-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/libAPDTwitterMoPubAdapter.a" framework="true"/>
        <framework custom="true" src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/mopub-ios-sdk.framework"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseButtonX.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseButtonX@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseButtonX@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPDAAIcon.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPDAAIcon@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPDAAIcon@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPMutedBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPMutedBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPMutedBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPPlayBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPPlayBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPPlayBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPUnmutedBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPUnmutedBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPUnmutedBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MRAID.bundle"/>
		<resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPAdBrowserController.xib"/>
        <!-- UnityAds -->
        <framework custom="true" src="libs/iOS/Adapters/APDUnityAdapter.embeddedframework/UnityAds.framework"/>
        <source-file src="libs/iOS/Adapters/APDUnityAdapter.embeddedframework/libAPDUnityAdapter.a" framework="true"/>
        <!-- Vungle -->
        <framework custom="true" src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/VungleSDK.framework"/>
        <source-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/libAPDVungleAdapter.a" framework="true"/>
        <!-- Yandex -->
        <framework custom="true" src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/YandexMobileMetrica.framework"/>
        <framework custom="true" src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/YandexMobileAds.framework"/>
        <source-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/libAPDYandexAdapter.a" framework="true"/>
        <!-- Yandex -->
        <source-file src="libs/iOS/Adapters/APDZplayAdapter.embeddedframework/libAPDZplayAdapter.a" framework="true"/>
      </platform>
</plugin>
