<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.appodeal.plugin" version="2.1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Appodeal Plugin</name>
  <description>Appodeal Plugin</description>
  <author>Appodeal</author>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="AppodealPlugin" src="www/appodeal.js">
      <clobbers target="Appodeal"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppodealPlugin">
                <param name="android-package" value="com.appodeal.plugin.AppodealPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <framework src="com.google.android.gms:play-services-ads:9+" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="com.appodeal.framework" android:value="phonegap" />
            <receiver android:name="com.appodeal.ads.AppodealPackageAddedReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
            </receiver>
            <activity android:name="com.appodeal.ads.InterstitialActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            <activity android:name="com.appodeal.ads.VideoActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            <activity android:name="com.appodeal.ads.LoaderActivity"
                  android:configChanges="orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
            <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />
            <activity android:name="com.chartboost.sdk.CBImpressionActivity" android:excludeFromRecents="true"
                  android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation|screenSize" />
            <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"
                  android:theme="@android:style/Theme.Translucent" />
            <activity android:name="com.mopub.mobileads.MoPubActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent" />
            <activity android:name="com.mopub.common.MoPubBrowser"
                  android:configChanges="keyboardHidden|orientation|screenSize" />
            <activity android:name="com.mopub.mobileads.MraidActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize" />
            <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize" />
            <activity android:name="org.nexage.sourcekit.mraid.MRAIDBrowser"
                  android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
                  android:theme="@android:style/Theme.Translucent" />
            <activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name="com.my.target.ads.MyTargetActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
            <activity android:name="org.nexage.sourcekit.vast.activity.VASTActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
            <activity android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
            <activity android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
            <activity android:name="com.appodeal.ads.networks.SpotXActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            <activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
            <activity android:name="com.unity3d.ads.adunit.AdUnitActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" />
			<activity android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="false" />
			<activity android:name="com.unity3d.ads2.adunit.AdUnitActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="true" />
			<activity android:name="com.unity3d.ads2.adunit.AdUnitSoftwareActivity"
			    android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:hardwareAccelerated="false" />
            <activity android:name="com.jirbo.adcolony.AdColonyOverlay"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
            <activity android:name="com.jirbo.adcolony.AdColonyFullscreen"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            <activity android:name="com.jirbo.adcolony.AdColonyBrowser"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            <activity android:name="com.vungle.publisher.FullScreenAdActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            <activity android:name="com.startapp.android.publish.list3d.List3DActivity"
                  android:theme="@android:style/Theme" />
            <activity android:name="com.startapp.android.publish.OverlayActivity"
                  android:theme="@android:style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity android:name="com.startapp.android.publish.FullScreenActivity"
                  android:theme="@android:style/Theme"
                  android:configChanges="orientation|keyboardHidden|screenSize" />
            <service android:name="com.yandex.metrica.MetricaService" android:enabled="true"
                 android:exported="true" android:process=":Metrica">
                <intent-filter>
                    <category android:name="android.intent.category.DEFAULT" />
                    <action android:name="com.yandex.metrica.IMetricaService" />
                    <data android:scheme="metrica" />
                </intent-filter>
                <meta-data android:name="metrica:api:level" android:value="44" />
            </service>
            <receiver android:name="com.yandex.metrica.MetricaEventHandler"
                  android:enabled="true" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
            </receiver>
            <activity android:name="com.yandex.mobile.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
            <activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
            <activity android:name="com.appodeal.ads.VideoPlayerActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>            
            <activity android:name="com.cmcm.picks.PicksLoadingActivity" android:launchMode="singleTask" android:taskAffinity="com.cmcm.adsdk.nativead" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            <activity android:name="com.cmcm.adsdk.interstitial.PicksInterstitialActivity" android:launchMode="singleTask" android:theme="@style/cm_interstital" />
            <activity android:name="com.cmcm.picks.webview.PicksBrowser" android:launchMode="singleTask" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
            <service android:name="com.cmcm.picks.init.DownloadService" android:exported="false" android:process=":PickService" />
            <activity android:name="com.cmcm.picks.vastvideo.FullScreenVideoActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="landscape"/>
            <activity android:name="com.revmob.FullscreenActivity" android:theme="@android:style/Theme.Translucent" android:configChanges="keyboardHidden|orientation"/>
			<activity android:name="com.tapjoy.TJAdUnitActivity" android:configChanges="orientation|keyboardHidden|screenSize"
			          android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
			<activity android:name="com.tapjoy.mraid.view.ActionHandler" android:configChanges="orientation|keyboardHidden|screenSize" />
			<activity android:name="com.tapjoy.mraid.view.Browser" android:configChanges="orientation|keyboardHidden|screenSize" />
			<activity android:name="com.tapjoy.TJContentActivity" android:configChanges="orientation|keyboardHidden|screenSize"
			          android:theme="@android:style/Theme.Translucent.NoTitleBar" android:hardwareAccelerated="true" />
        </config-file>
        <source-file src="src/android/AppodealPlugin.java" target-dir="src/com/appodeal/plugin" />
        <source-file src="libs/android/appodeal-1.15.8.jar" target-dir="libs" />
        <source-file src="libs/android/applovin-6.3.0.jar" target-dir="libs" />
        <source-file src="libs/android/chartboost-6.5.1.jar" target-dir="libs" />
        <source-file src="libs/android/flurry-analytics-6.5.0.jar" target-dir="libs" />
        <source-file src="libs/android/my-target-4.5.10.jar" target-dir="libs" />
        <source-file src="libs/android/yandex-metrica-2.51.jar" target-dir="libs" />
        <source-file src="libs/android/unity-ads-2.0.4.jar" target-dir="libs" />
        <framework src="libs/android/cheetah-mobile" custom="true" />
    </platform>

    <platform name="ios">
      <config-file parent="/widget" target="config.xml">
        <feature name="AppodealPlugin">
          <param name="ios-package" value="AppodealPlugin"/>
        </feature>
      </config-file>

      <header-file src="src/ios/AppodealPlugin.h"/>
      <source-file src="src/ios/AppodealPlugin.m"/>

        <framework src="AdSupport.framework"/>
        <framework src="AudioToolbox.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="CoreFoundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreImage.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreMotion.framework"/>
        <framework src="EventKit.framework"/>
        <framework src="EventKitUI.framework"/>
        <framework src="JavaScriptCore.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="MessageUI.framework"/>
        <framework src="MobileCoreServices.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="Security.framework"/>
        <framework src="Social.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="SafariServices.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="Twitter.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="WebKit.framework"/>
        <framework src="CoreBluetooth.framework"/>
        <framework src="GLKit.framework"/>

        <framework src="libc++.dylib"/>
        <framework src="libsqlite3.dylib"/>
        <framework src="libxml2.2.dylib"/>
        <framework src="libz.dylib"/>

        <!-- Appodeal -->
        <framework custom="true" src="libs/iOS/Appodeal/Appodeal.framework"/>
        <resource-file src="libs/iOS/Appodeal/Appodeal.bundle"/>
        <!-- AdColony -->
        <framework custom="true" src="libs/iOS/Adapters/APDAdColonyAdapter.embeddedframework/AdColony.framework"/>
        <source-file src="libs/iOS/Adapters/APDAdColonyAdapter.embeddedframework/libAPDAdColonyAdapter.a" framework="true"/>
        <!-- Amazon -->
        <framework custom="true" src="libs/iOS/Adapters/APDAmazonAdsAdapter.embeddedframework/AmazonAd.framework"/>
        <source-file src="libs/iOS/Adapters/APDAmazonAdsAdapter.embeddedframework/libAPDAmazonAdsAdapter.a" framework="true"/>
        <!-- Aplovin -->
        <source-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/libAPDAppLovinAdapter.a" framework="true"/>
        <source-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/libAppLovinSdk.a" framework="true"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAd.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdDisplayDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdLoadDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdRewardDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdService.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdSize.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdType.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdUpdateDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdVideoPlaybackDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAdView.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALAnnotations.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALErrorCodes.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALEventService.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALEventTypes.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALIncentivizedInterstitialAd.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALInterstitialAd.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALNativeAd.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALNativeAdLoadDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALNativeAdPrecacheDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALNativeAdService.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALPostbackDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALPostbackService.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALSdk.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALSdkSettings.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALSwiftHeaders.h"/>
        <header-file src="libs/iOS/Adapters/APDAppLovinAdapter.embeddedframework/headers/ALTargetingData.h"/>
        <!-- Chartboost -->
        <framework custom="true" src="libs/iOS/Adapters/APDChartboostAdapter.embeddedframework/Chartboost.framework"/>
        <source-file src="libs/iOS/Adapters/APDChartboostAdapter.embeddedframework/libAPDChartboostAdapter.a" framework="true"/>
        <!-- Facebook Audience Network -->
        <framework custom="true" src="libs/iOS/Adapters/APDFacebookAudienceAdapter.embeddedframework/FBAudienceNetwork.framework"/>
        <source-file src="libs/iOS/Adapters/APDFacebookAudienceAdapter.embeddedframework/libAPDFacebookAudienceAdapter.a" framework="true"/>
        <!-- AdMob -->
        <framework custom="true" src="libs/iOS/Adapters/APDGoogleAdMobAdapter.embeddedframework/GoogleMobileAds.framework"/>
        <source-file src="libs/iOS/Adapters/APDGoogleAdMobAdapter.embeddedframework/libAPDGoogleAdMobAdapter.a" framework="true"/>
        <!-- InMobi -->
        <framework custom="true" src="libs/iOS/Adapters/APDInMobyAdapter.embeddedframework/InMobiSDK.framework"/>
        <source-file src="libs/iOS/Adapters/APDInMobyAdapter.embeddedframework/libAPDInMobyAdapter.a" framework="true"/>
        <!-- MyTarget -->
        <framework custom="true" src="libs/iOS/Adapters/APDMyTargetAdapter.embeddedframework/MyTargetSDK.framework"/>
        <source-file src="libs/iOS/Adapters/APDMyTargetAdapter.embeddedframework/libAPDMyTargetAdapter.a" framework="true"/>
        <!-- StartApp -->
        <framework custom="true" src="libs/iOS/Adapters/APDStartAppAdapter.embeddedframework/StartApp.framework"/>
        <source-file src="libs/iOS/Adapters/APDStartAppAdapter.embeddedframework/libAPDStartAppAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDStartAppAdapter.embeddedframework/StartApp.bundle"/>
        <!-- TapJoy -->
        <framework custom="true" src="libs/iOS/Adapters/APDTapjoyAdapter.embeddedframework/Tapjoy.framework"/>
        <source-file src="libs/iOS/Adapters/APDTapjoyAdapter.embeddedframework/libAPDTapjoyAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDTapjoyAdapter.embeddedframework/Tapjoy.framework/Resources/TapjoyResources.bundle"/>
        <!-- MoPub -->
        <source-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/libAPDTwitterMoPubAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseButtonX.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseButtonX@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPCloseButtonX@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPDAAIcon.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPDAAIcon@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPDAAIcon@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPMutedBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPMutedBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPMutedBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPPlayBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPPlayBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPPlayBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPUnmutedBtn.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPUnmutedBtn@2x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MPUnmutedBtn@3x.png"/>
        <resource-file src="libs/iOS/Adapters/APDTwitterMoPubAdapter.embeddedframework/Resources/MRAID.bundle"/>
        <!-- UnityAds -->
        <framework custom="true" src="libs/iOS/Adapters/APDUnityAdapter.embeddedframework/UnityAds.framework"/>
        <source-file src="libs/iOS/Adapters/APDUnityAdapter.embeddedframework/libAPDUnityAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDUnityAdapter.embeddedframework/UnityAds.bundle"/>
        <!-- Vungle -->
        <framework custom="true" src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/VungleSDK.framework"/>
        <source-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/libAPDVungleAdapter.a" framework="true"/>
        <resource-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/Resources/__vungle.db"/>
        <resource-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/Resources/vg_close.png"/>
        <resource-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/Resources/vg_cta.png"/>
        <resource-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/Resources/vg_mute_off.png"/>
        <resource-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/Resources/vg_mute_on.png"/>
        <resource-file src="libs/iOS/Adapters/APDVungleAdapter.embeddedframework/Resources/vg_privacy.png"/>
        <!-- Yandex -->
        <framework custom="true" src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/YandexMobileMetrica.framework"/>
        <source-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/libAPDYandexAdapter.a" framework="true"/>
        <source-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/libYandexMobileAds.a" framework="true"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YandexMobileAds.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YandexMobileNativeAds.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YandexMobileVASTAds.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAAdRequest.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAAdSize.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAAdView.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMABlock.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMABlocksInfo.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMACreative.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAErrors.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAIcon.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAInterstitialController.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMALog.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAMediaFile.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAMobileAds.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdAssets.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdDelegate.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdErrors.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdImage.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdLoader.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdLoaderConfiguration.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAdTypes.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAppInstallAd.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAppInstallAdView.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeAssetsAppearance.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeBannerView.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeContentAd.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeContentAdView.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeGenericAd.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeImageLoadingObserver.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMANativeTemplateAppearance.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMARating.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAVASTAd.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAVASTErrors.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAVASTTracker.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAVersion.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAVideoAdsRequest.h"/>
        <header-file src="libs/iOS/Adapters/APDYandexAdapter.embeddedframework/Headers/YMAYandexVASTAds.h"/>
      </platform>
</plugin>